@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.logo-name {
  margin: 20px 60px;
  display: flex;
  gap: 10px;
  font-family: 'Open Sans', sans-serif;
}

.logo-name img {
  height: 80px;
}
